<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
</head>
<body>
    <div class="container">
        <h1> <%= Title %></h1>
        <h4> <%= Content %></h4>
    </div>
    <form action="/gohome" method="get">
        <button type="submit" > Go Home</button>
    </form>
</body>
</html>