<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Random Joke</title>
</head>
<body>
  <h1>Random Joke</h1>
  <form method="post">
    <%=joke%>
    <br>
    <button id="nextJoke" formaction="/next" >Next Joke</button>
  </form>
  