<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Random Joke</title>
</head>
<body>
  <h1>Random Joke</h1>
  <form method="post">
    <%let text = response%>
    <%=text%>
    <br>
    <input type="text" formaction="/text" name="type"  type="submit">
    <button type="submit" formaction="/submit" name="type" value="submit">Submit</button>
  </form>
  