*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container form .input{
    background-color: #FFFDF6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
}

.container form .input #title, .container form .input #content{
    max-width: 80vw;
    min-width: 50vw;
    height: 2vw;
    background-color: #FAF6E9 ;
    border-radius: 2rem;
    padding: 1rem;
}

.container form .input #postButton{
    width: 6rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: #F4F8D3;
}